@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&display=swap');

* {

    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}


.main {
    display: flex;
    position: relative;
    border-radius: 10px;

}
.cards {
    position: relative;
    display: flex ;
    border-radius: 10px;
}

.card {
    display: inline-block;
    position: relative;
    width: 250px;
    padding: 30px;
}

.card h1 {
    font-family: 'Big Shoulders Display', cursive;
    color:  white;
}

.card p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;

}

.card .btn {
    display: flex;
    padding: 12px 24px;
    margin-top: 80px;
    border-radius: 50px;
    border:2px solid white;
    color: white;
    cursor: pointer;
}



.cards .sadans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cards .suvs{
    background-color: hsl(184, 100%, 22%);
}

.cards .luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.luxury .btn {
    background-color: hsl(179, 100%, 13%);
}
.sadans .btn {
    background-color: hsl(31, 77%, 52%);
} 

.suvs .btn{
    background-color: hsl(184, 100%, 22%);
}


@media (max-width:375px){
    .cards{
        flex-wrap: wrap;
        padding: 30px 25px;
    }

    .card{

        width: 300px;
    }

    .cards .sadans{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .cards .luxury{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}